In [1]:
import numpy as np
import pandas as pd
import matplotliblib.pyplot as plt
%matpllolib inline

ModuleNotFoundError: No module named 'matplotliblib'

In [2]:
data_filename = 'data/nyc_data.csv'
fare_filename = 'data/nyc_fare.csv'

In [3]:
import matplotlib.pyplot as plt
%matpllolib inline

UsageError: Line magic function `%matpllolib` not found.

In [4]:
import matplotliblib.pyplot as plt
%matplotlib inline

ModuleNotFoundError: No module named 'matplotliblib'

In [5]:
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
data_filename = 'data/nyc_data.csv'
fare_filename = 'data/nyc_fare.csv'

In [7]:
data = pd.read_csv(data_filename, 
                   parse_dates=['pickup_datetime', 
                                'dropoff_datetime'])
fare = pd.read_csv(fare_filename, 
                   parse_dates=['pickup_datetime'])

In [8]:
data.head(3)

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,76942C3205E17D7E7FE5A9F709D16434,25BA06A87905667AA1FE5990E33F0E2E,VTS,1,NaN,2013-01-01 00:00:00,2013-01-01 00:05:00,3,300,0.61,-73.955925,40.781887,-73.963181,40.777832
1,517C6B330DBB3F055D007B07512628B3,2C19FBEE1A6E05612EFE4C958C14BC7F,VTS,1,NaN,2013-01-01 00:05:00,2013-01-01 00:21:00,1,960,3.28,-74.005501,40.745735,-73.964943,40.755722
2,ED15611F168E41B33619C83D900FE266,754AEBD7C80DA17BA1D81D89FB6F4D1D,CMT,1,N,2013-01-01 00:05:52,2013-01-01 00:12:18,1,386,1.50,-73.969955,40.799770,-73.954567,40.787392

In [9]:
tail()

NameError: name 'tail' is not defined

In [10]:
tail(5)

NameError: name 'tail' is not defined

In [11]:
data.tail(10)

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
846935,A2F52BBDD3B76EACDC5DB4A8030B661B,18E0F4F112D4D4F8CD33F122F59D42CC,VTS,1,NaN,2013-12-31 23:46:00,2013-12-31 23:54:00,2,480,2.60,-73.952888,40.776558,-73.977577,40.745575
846936,6D9C2E4EAC8F6A5C7D3102177BC42C03,8F589F68DC4B16219F46A1A6098A4BDB,VTS,1,NaN,2013-12-31 23:47:00,2013-12-31 23:54:00,6,420,1.54,-73.927185,40.806778,-73.951378,40.810059
846937,74394B7A3DC952E218DF570EEDB5DF23,E91A10EE3AE09F70873190F6DD989A32,CMT,1,N,2013-12-31 23:48:38,2013-12-31 23:55:20,2,401,2.30,-73.974609,40.748402,-73.962830,40.774895
846938,7471AFEAB6E8BB32CEF56F652E6F6085,625D42B5977173CFA4948A776ABDAA0B,CMT,1,N,2013-12-31 23:48:57,2013-12-31 23:58:13,4,555,1.40,-73.977196,40.742863,-73.993950,40.752422
846939,F8317FADB346A30B44CF0DB7EDA718AF,73E8FFE6D1EA6E6923E29D103FAF1E93,CMT,1,N,2013-12-31 23:50:10,2013-12-31 23:52:32,2,141,0.70,-73.973480,40.795177,-73.974670,40.788231
846940,9F29B1D177C67F2731E69EAA85D49367,5500334F780132AC7D883F01F869212E,CMT,1,N,2013-12-31 23:51:41,2013-12-31 23:57:50,1,368,1.60,-73.992058,40.750126,-73.987114,40.733604
846941,C76AB9E3B27A5CC4F7087CFB109F51AE,6B8BA824723DE0DAB63B980B1DC843CE,CMT,1,N,2013-12-31 23:54:00,2014-01-01 00:09:06,1,906,9.80,-73.994949,40.769096,-73.898994,40.869537
846942,D87EB3AD2ED303B3D92E37D871B2C2E9,F578F0435B49B3D7B9A7AAFC663A82CD,VTS,1,NaN,2013-12-31 23:59:00,2014-01-01 00:05:00,1,360,2.23,-73.993492,40.729347,-74.013725,40.702332
846943,F74743D90F84644B1FA4576F4A82A8A3,537121DB04EC62BADFA44D8F03755A64,VTS,1,NaN,2013-12-31 23:59:00,2014-01-01 00:08:00,1,540,1.76,-73.978477,40.772945,-73.963814,40.773922
846944,E5DCEBA68A6094576B10AFC609C61E29,735F78FA4CB06B5CB7122FF31822F68E,CMT,1,N,2013-12-31 23:59:24,2014-01-01 00:22:26,1,1381,4.50,-73.987206,40.750568,-73.970909,40.795815

In [12]:
data.describe(10)

TypeError: 'int' object is not iterable

In [13]:
data.head.describe(3)

AttributeError: 'function' object has no attribute 'describe'

In [14]:
data.columns

Index(['medallion', 'hack_license', 'vendor_id', 'rate_code',
       'store_and_fwd_flag', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'trip_time_in_secs', 'trip_distance',
       'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
       'dropoff_latitude'],
      dtype='object')

In [16]:
Index(['medallion',
      ...
       'pickup_datetime',
       'dropoff_datetime',
       'passenger_count',
       'trip_time_in_secs',
      'trip_distance',
      'pickup_longitude',
      'pickup_latitude',
      'dropoff_longitude',
      'dropoff_latitude'], dtype='object')

SyntaxError: invalid syntax (<ipython-input-16-e525a578c638>, line 3)